* {
    padding: 0;
    margin: 0;

}

body {
    background-image: url("../images/kyc-background.png");
    background-size: cover;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    color: white;

}

.side-1-img {
    height: 300px;
}

header img {
    width: 60px;
    height: 60px;
}

header {
    display: flex;
    align-items: center;
}

.content-holder {
    max-width: 50%;
    border-radius: 15px;
    margin-left: auto;
    margin-bottom: 50px;
    margin-right: auto;
}

#continue {
    background-color: #9506F3;
    border: none;
}

@media screen and (max-width:800px) {
    .side-1-img {
        width: 100%;
    }

    .side-1 {
        flex-basis: 30%;
    }

    .side-2 {
        flex-basis: 70%;
    }

    header img {
        width: 50px;
        height: 50px;
    }

    header {
        display: flex;
        align-items: center;
    }

    .content-holder {
        max-width: 50%;
        border-radius: 10px;
        margin-left: auto;
        margin-bottom: 30px;
        margin-right: auto;
    }

    #continue {
        background-color: #9506F3;
        border: none;
    }

    .content-holder h3 {
        font-size: 20px;
    }

    .side-2 p {
        font-size: 15px;
    }

    .content-holder a {
        font-size: 14px;
    }
}

@media screen and (max-width:550px) {
    .content-holder {
        max-width: 70%;
        border-radius: 15px;
        margin-left: auto;
        margin-bottom: 50px;
        margin-right: auto;
    }
}

@media screen and (max-width:400px) {
    .content-holder {
        max-width: 90%;
        border-radius: 15px;
        margin-left: auto;
        margin-bottom: 50px;
        margin-right: auto;
    }
}